body {
	margin: 0px;
	font-family: sans-serif;
	/* background-color: rgba(27, 156, 59, 0.486); */
	background-color: green;
}


#game {
	width: 100vw;
	padding-top: 36px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#game-canvas {
	display: block;
	border-radius: 5px;	
}

.canvas-wrapper {
	height: 304px;
}

.game-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
	column-gap: 16px;
	width: 320px;
	padding: 0 16px;
	box-sizing: border-box;
}

.game-lvl {
	width: 30%;
	display: flex;
	align-items: flex-end;
	font-size: 18px;
	color: #0c6d45;
	font-weight: 600;
	line-height: 28px;
}
.game-lvl-count {
	font-size: 28px;
}
.game-lvl-text {
	margin-bottom: -3px;
  margin-right: 8px;
}

.game-lifes {
	display: flex;
	column-gap: 4px;
	width: 30%;
	align-items: flex-end;
}

.score-count{
	font-size: 30px;
	color: #0c6d45;
	font-weight: bold;
	background: #98EE0C;
	padding: 10px 0;
	width: 20%;
	border-radius: 5px;
	text-align: center;
}

.canvas-wrapper {
	background-color: #15a877;
	border-radius: 5px;
	border: 10px solid #0c6d45;

	background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.25' y='0.25' width='15.5' height='15.5' fill='%2398EE0C' stroke='%23074F17' stroke-width='0.5' stroke-dasharray='1 1'/%3E%3C/svg%3E%0A");
}

.mobile-controls {
	display: grid;
	grid-template-areas: 
		"a1 a2 a3"
		"a1 a4 a3";
	margin-top: 16px;
}

.mobile-control {
	padding: 0 37px;
	border: 2px solid #0c6d45; 
	border-radius: 5px;
	background: #98EE0C center no-repeat;
	height: 64px;
}
.mobile-control._up {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAxNiAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wLjkyODYzNSA2LjY1Njg1TDcuMjkyNiAwLjI5Mjg5MkM3LjY4MzEyIC0wLjA5NzYzMTUgOC4zMTYyOSAtMC4wOTc2MzE1IDguNzA2ODEgMC4yOTI4OTJMMTUuMDcwOCA2LjY1Njg1QzE1LjQ2MTMgNy4wNDczOCAxNS40NjEzIDcuNjgwNTQgMTUuMDcwOCA4LjA3MTA3QzE0LjY4MDIgOC40NjE1OSAxNC4wNDcxIDguNDYxNTkgMTMuNjU2NiA4LjA3MTA3TDguOTk5NyAzLjQxNDIxTDguOTk5NyAyMUg2Ljk5OTdMNi45OTk3IDMuNDE0MjFMMi4zNDI4NSA4LjA3MTA3QzEuOTUyMzIgOC40NjE1OSAxLjMxOTE2IDguNDYxNTkgMC45Mjg2MzUgOC4wNzEwN0MwLjUzODExMSA3LjY4MDU0IDAuNTM4MTExIDcuMDQ3MzggMC45Mjg2MzUgNi42NTY4NVoiIGZpbGw9IiMwQzZENDUiLz4KPC9zdmc+Cg==);
	grid-area: a2;
}
.mobile-control._left {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjE1Njg1IDE0LjU3MDlMMC43OTI4OTIgOC4yMDY5MkMwLjQwMjM2OSA3LjgxNjM5IDAuNDAyMzY5IDcuMTgzMjMgMC43OTI4OTIgNi43OTI3TDcuMTU2ODUgMC40Mjg3NDFDNy41NDczOCAwLjAzODIxNjEgOC4xODA1NCAwLjAzODIxNjEgOC41NzEwNyAwLjQyODc0MUM4Ljk2MTU5IDAuODE5MjY1IDguOTYxNTkgMS40NTI0MyA4LjU3MTA3IDEuODQyOTVMMy45MTQyMSA2LjQ5OTgxTDIxLjUgNi40OTk4MVY4LjQ5OTgxTDMuOTE0MjEgOC40OTk4MUw4LjU3MTA3IDEzLjE1NjdDOC45NjE1OSAxMy41NDcyIDguOTYxNTkgMTQuMTgwNCA4LjU3MTA3IDE0LjU3MDlDOC4xODA1NCAxNC45NjE0IDcuNTQ3MzggMTQuOTYxNCA3LjE1Njg1IDE0LjU3MDlaIiBmaWxsPSIjMEM2RDQ1Ii8+Cjwvc3ZnPgo=);
	grid-area: a1;
	align-self: center;
}
.mobile-control._right {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAyMiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNC44NDMxIDAuNDI5MTI0TDIxLjIwNzEgNi43OTMwOEMyMS41OTc2IDcuMTgzNjEgMjEuNTk3NiA3LjgxNjc3IDIxLjIwNzEgOC4yMDczTDE0Ljg0MzEgMTQuNTcxM0MxNC40NTI2IDE0Ljk2MTggMTMuODE5NSAxNC45NjE4IDEzLjQyODkgMTQuNTcxM0MxMy4wMzg0IDE0LjE4MDcgMTMuMDM4NCAxMy41NDc2IDEzLjQyODkgMTMuMTU3TDE4LjA4NTggOC41MDAxOUgwLjVWNi41MDAxOUgxOC4wODU4TDEzLjQyODkgMS44NDMzNEMxMy4wMzg0IDEuNDUyODEgMTMuMDM4NCAwLjgxOTY0OCAxMy40Mjg5IDAuNDI5MTI0QzEzLjgxOTUgMC4wMzg1OTk0IDE0LjQ1MjYgMC4wMzg1OTk0IDE0Ljg0MzEgMC40MjkxMjRaIiBmaWxsPSIjMEM2RDQ1Ii8+Cjwvc3ZnPgo=);
	grid-area: a3;
	align-self: center;
}
.mobile-control._down {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAxNiAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS4wNzE0IDE0LjM0MzFMOC43MDc0IDIwLjcwNzFDOC4zMTY4OCAyMS4wOTc2IDcuNjgzNzEgMjEuMDk3NiA3LjI5MzE5IDIwLjcwNzFMMC45MjkyMjkgMTQuMzQzMUMwLjUzODcwNCAxMy45NTI2IDAuNTM4NzA0IDEzLjMxOTUgMC45MjkyMjkgMTIuOTI4OUMxLjMxOTc1IDEyLjUzODQgMS45NTI5MiAxMi41Mzg0IDIuMzQzNDQgMTIuOTI4OUw3LjAwMDMgMTcuNTg1OEw3LjAwMDMgMEw5LjAwMDMgMFYxNy41ODU4TDEzLjY1NzIgMTIuOTI4OUMxNC4wNDc3IDEyLjUzODQgMTQuNjgwOCAxMi41Mzg0IDE1LjA3MTQgMTIuOTI4OUMxNS40NjE5IDEzLjMxOTUgMTUuNDYxOSAxMy45NTI2IDE1LjA3MTQgMTQuMzQzMVoiIGZpbGw9IiMwQzZENDUiLz4KPC9zdmc+Cg==);
	grid-area: a4;
}

.menu-popup {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .6);
	padding: 24px;
	position: fixed;
	top: 0;
	left: 0;
	box-sizing: border-box;
	transition: all .3s;
	
	opacity: 0;
	pointer-events: none;
}

.menu-popup__container {
	border-radius: 16px;
	background-color: #98EE0C;
	padding: 32px 24px;
	box-sizing: border-box;
}

.menu-popup__text {
	font-size: 22px;
	color: #0c6d45;
	font-weight: 600;
	font-style: italic;
	text-align: center;
}
.menu-popup__text p {
	margin: 12px 0;
}

.menu-popup__button {
	max-width: 100px;
	display: none;
	margin: 48px auto 0;
	transition: .5s 1s;
	opacity: 0;
	pointer-events: none;
}
.menu-popup__button._active {
	opacity: 1;
	pointer-events: all;
}

.menu-popup__form {
	display: flex;
	justify-content: center;
	font-size: 16px;
	font-weight: bold;
	color: #0c6d45;
}

.menu-popup__form input {
	border: 3px solid #0c6d45;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
	border-right: none;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	width: 100%;
	outline: none;
}

.menu-popup__form button {
	background-color: #98EE0C;
	border: 3px solid #0c6d45;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
	padding: 0 10px;
}

.menu-popup__name {
	position: relative;
	font-size: 40px;
}
.menu-popup__name-code {
	position: absolute;
	background-color: #dd4a6899;
  font-size: 9px;
  padding: 4px 5px;
  border-radius: 4px;
  color: #000;
  top: -1em;
	right: 0;
	font-style: normal;
}

.menu-popup__text a {
	color: #dd4a6899;
}